@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
  background: linear-gradient(90deg, #5fcdee, #4992d7, #093248);
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
